<!doctype html>
<html>
<head>
  <title>Member Page</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css\site.css">
  <!-- Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Oconee County Fire Rescue</a>
        </div>
        <ul id="menu">
          <li><a class="nav-link" href="index.html">Home</a></li>
          <li><a class="nav-link active" href="member.html">Member</a></li>
          <li><a class="nav-link" href="cert.html">Certification</a></li>
          <li><a class="nav-link" href="report.html">Report</a></li>
        </ul>
      </div>
    </nav>
  <!-- Header -->
    <div id="header">
      <div class="container">
      <!-- Logo -->
        <div id="logo">
          <h1><a href="index.html">Welcome to Oconee County Fire Rescue</a></h1>
          <span>Oconee County, GA</span>
        </div>
      </div>
    </div>
  <!-- Header -->

  <!-- Main -->
<div id="Member">
    <div id="main">
      <div class="container">
        <h2 id="bigheader">Welcome to the Member Page</h2>
      <p>In this page you can see our former and current member. You can click each member to (1)view specific information regarding the member and certifications the member have and (2) edit any member information.</p>

      <br>
    <div class="row">
      <div class="col-5">

        <h4>List of Members</h4>
        <p> Please select the name to see the basic information and certifications of the member.</p>
        <table class="table" >
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="p in person" v-on:click="activeP = p; getCert();">
                 <th scope="row">{{ p.personID  }}</th>
                 <td>{{ p.firstName }} {{ p.lastName }}</td>
                 <th><button type="button" class="btn btn-link">View</button>
                 <button type="button"  v-on:click="deleteInfo(p)" class="btn btn-outline-danger">Delete</button></th>
              </tr>
             </tbody>
          </table>
          <!-- Add Member Button-->
          <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal" >Add New Member</button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <form method="post" v-on:submit.prevent="createMember">
                    <div class="modal-header">
                      <h5 class="modal-title">Add a New Member</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="newFirstName">First Name</label>
                          <input type="text" v-model="newMemberForm.firstName" class="form-control" id="FirstName" placeholder="Jane">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="newLastName">Last Name</label>
                          <input type="text" v-model="newMemberForm.lastName" class="form-control" id="LastName" placeholder="Doe">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="newPoition">Position</label>
                          <input type="text" v-model="newMemberForm.position" class="form-control" id="Poition">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="newDepartment">Department</label>
                          <input type="text" v-model="newMemberForm.department" class="form-control" id="Department">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="newRadioNumber">Radio Number</label>
                          <input type="text" v-model="newMemberForm.radioNumber" class="form-control" id="RadioNumber">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="newStationNumber">Station Number</label>
                          <input type="text" v-model="newMemberForm.stationNumber" class="form-control" id="StationNumber">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="newEmail">Email address</label>
                        <input type="email" v-model="newMemberForm.email" class="form-control" id="newPEmail" aria-describedby="emailHelp" placeholder="Enter email">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Create</button>
                  </form>
                </div>
              </div>
            </div>
            <!--Add member Form Ends-->
      </div>

      <div class="col-7">
        <h4> Details</h4>
        <h5>Basic Information</h5>
        <div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">First Name:</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" ref="firstName" :value="activeP.firstName" :disabled="!isEditing" :class="{view: !isEditing}">
          </div>
          <label class="col-sm-2 col-form-label">Last Name:</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" ref="lastName" :value="activeP.lastName" :disabled="!isEditing" :class="{view: !isEditing}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Position:</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" ref="position" :value="activeP.position" :disabled="!isEditing" :class="{view: !isEditing}">
          </div>
          <label class="col-sm-2 col-form-label">Department:</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" ref="department" :value="activeP.department" :disabled="!isEditing" :class="{view: !isEditing}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Radio Number:</label>
          <div class="col-sm-3">
            <input class="form-control" type="text" ref="radioNumber" :value="activeP.radioNumber" :disabled="!isEditing" :class="{view: !isEditing}">
          </div>
          <label class="col-sm-3 col-form-label">Station Number:</label>
          <div class="col-sm-3">
            <input class="form-control" type="text" ref="stationNumber" :value="activeP.stationNumber" :disabled="!isEditing" :class="{view: !isEditing}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Current Member:</label>
          <div class="col-sm-3">
            <input class="form-control" type="text" ref="isActive" :value="activeP.isActive" :disabled="!isEditing" :class="{view: !isEditing}">
          </div>
          <label class="col-sm-2 col-form-label">Start Date:</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" ref="startDate" :value="activeP.startDate" :disabled="!isEditing" :class="{view: !isEditing}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Email:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" ref="email" :value="activeP.email" :disabled="!isEditing" :class="{view: !isEditing}">
          </div>
        </div>
          <button type="button" class="btn btn-info" v-on:click="isEditing = !isEditing" v-if="!isEditing">
            Edit
          </button>
        <button type="buttom" class="btn btn-info" v-on:click="save" v-else-if="isEditing">
          Save
        </button>
          <button type="button" class="btn btn-secondary" v-if="isEditing" v-on:click="isEditing = false">Cancel</button>
        </div>


<br><br>
          <h5>Certification</h5>
          <p> The followings are the certifications of {{activePID}} {{activePName}}.</p>
          <table class="table" >
            <thead class="thead-light">
              <tr>
                <th>Certification Name</th>
                <th>Certification Agency</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="c in certifications">
                 <td scope="row">{{ c.certName }}</td>
                 <td>{{ c.certAgency }}</td>
              </tr>
             </tbody>
          </table>
    </div>
  </div>
</div>
</div>
</body>
  <!-- Main -->

  <!-- Footer -->
  <footer id="footer">
      <div class="row pad"></div>
      <div class="bottom">
        <center>
          <p>Conditions of Use
          <span>&#47;</span> Privacy Notice
          <span>&#47;</span> Interest-Based Ads
          <span>&#47;</span> © 2020, OCFR
          </p>
        </center>
      </div>
  </footer>

  <!--  JavaScript -->
  <!--Bootstrap JS-->
  <script type="application/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!--Local JS files we can delete table sort if not needed-->
  <script type="text/javascript" src="js/moment.app.js"></script>


</html>
